<h1>BOOKS PAGE</h1>

<form action="/books/add" method= "POST"> {{!-- action refers to where you want the form to be posted (created) --}}

  <label for=''>Title</label>
  <input type='text' name='title'>

  <br>
  <label for=''>Descritpion</label>
  <input type='text' name='description'>

  <br>
  <label for=''>Author</label>
  <select name="author">
    <option disable selected value="">Select an author</option>
    {{#each allAuthors}}
      <option value="{{this._id}}"> {{this.name}} {{this.surname}}</option>
    {{/each}}
  </select>
  {{!-- need to create a choice/ dropdown menu to click one option from the database: the input becomes an options 
  used to be this  <input type='text' name='author'>, now the above
  allAuthors refers to book.routes.js allAuthors in creating a book--}}

    {{!-- The first option "disable selected value" is preselected (the default) and gives you the option to not include an author
    can put text in there i.e. Select and author OR can add a placeholder in there--}}
  

  <br>
  <label for=''>Rating</label>
  <input type='number' name='rating'>

  <button type='submit'>ADD</button>

</form>

<a href="/books">
  <button>RETURN to books</button>
</a>

{{!-- the action is the URL where we send the body, the method is post or get. As we want it on the body, it's post
post tells you which feilds you need in the book.routes.js file --}}