<h1>BOOKS PAGE</h1>

<a href="/books/add">
  <button>Add a new book</button>
</a>

{{#each allBooks}}
<h2 class="book-title"><a href="/books/{{this._id}}">{{ this.title }}</a></h2>
<a href="/books/edit/{{ this._id }}">Edit this book</a>

 
{{/each}}